{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ "user.password.reset.title"|trans({}, "forms") }}</h1>

            {{ form_start(form) }}
            {{ form_row(form.newPassword.first) }}
            {{ form_row(form.newPassword.second) }}

            <button type="submit" class="btn btn-primary" formnovalidate>{{ "user.password.reset.btn.submit"|trans({}, "forms") }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
