{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ "login.title"|trans({}, "forms") }}</h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
                <button type="submit" class="btn btn-success">{{ "login.btn.submit"|trans({}, "forms") }} <span class="fa fa-lock"></span></button>
                &nbsp;
                <a href="{{ path('user_register') }}">{{ "login.link.register"|trans({}, "forms") }}</a>, <a href="{{ path('user_recover_password_form') }}">{{ "login.link.password.recover"|trans({}, "forms") }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
